@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Playfair+Display&display=swap");
nav {
  background: rgb(255,221,89);
background: linear-gradient(90deg, rgba(255,221,89,1) 0%, rgba(255,145,77,1) 100%);
  width: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(98, 62, 8);
  font-size: 25px;
  font-weight:600;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Playfair Display", serif;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
nav a:hover {
  background-color: rgba(205, 131, 20, 0.587);
}
.heading {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Playfair Display", serif;
}
.backgroundnav{
  background-image: url(/src/components/images/nav.png);
  
}
.navtop{
  background: rgb(255,221,89);
background: linear-gradient(90deg, rgba(255,221,89,1) 0%, rgba(255,145,77,1) 100%);
}
.nav-1{
  animation: navslideInLeft 0.3s ease-out;
}
.nav-2{
  animation: navslideInLeft 0.4s ease-out;
}
.nav-3{
  animation: navslideInLeft 0.5s ease-out;
}
.nav-4{
  animation: navslideInLeft 0.6s ease-out;
}
.nav-5{
  animation: navslideInLeft 0.7s ease-out;
}
.nav-6{
  animation: navslideInLeft 0.8s ease-out;
}
.nav-7{
  animation: navslideInLeft 0.9s ease-out;
}
.nav-8{
  animation: navslideInLeft 1s ease-out;
}
@keyframes navslideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.logo2nd{
  animation: navslideInRight 0.8s ease-out;
}
@keyframes navslideInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.nonmobilenav-1{
  animation: navslideUp  0.4s ease-in;
}
.nonmobilenav-2{
  animation: navslideUp  0.5s ease-in;
}
.nonmobilenav-3{
  animation: navslideUp  0.6s ease-in;
}
.nonmobilenav-4{
  animation: navslideUp  0.7s ease-in;
}
.nonmobilenav-5{
  animation: navslideUp  0.8s ease-in;
}
.nonmobilenav-6{
  animation: navslideUp  0.9s ease-in;
}
.nonmobilenav-7{
  animation: navslideUp  1s ease-in;
}
@keyframes navslideUp{
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  
  }
}